<% if current_user %>
  <div id="wishlist-form">
    <%= form_for Spree::WishedProduct.new do |f| %>
      <%= f.hidden_field :variant_id, :value => @product.master.id %>
      <button type="submit" class="button large wishlist-button">
        Add To Wishlist
      </button>
    <% end %>
  </div>
<% else %>
  <div id="wishlist-form">
      <button type="submit" class="button large wishlist-button" onclick="location.href='/account'">
        Add To Wishlist
      </button>
  </div>
<% end %>