<h3>My Wishlists</h3>
<% if @user.wishlists.present? %>
  <ul>
  <% @user.wishlists.each do |wl| %>
    <% if !wl.is_private? || @user == current_user %>
    <li><%= link_to wl.name, wl %></li>
    <% end -%>
  <% end -%>
  </ul>
<% else %>
  <p>Looks like you haven't created a wishlist yet. Check out some products to get started.</p>
  <br />
<% end %>